h1{
  color: white;
  background-color:#DC143C;
}
#image{
  height:90px;
  width:90px;
  border-radius:70px;
}
#button{
  background-color:white;
  border-radius:8px;
}
#button:hover{
  background-color:#DC143C;
  color:white;
}
body{
  background-color:#008080;
  color:white;
}

/* social media buttons in the footer section */
#fb{
  background-color:#3b5998;
}
#twit{
  background-color:#00ACED;
}
#insta{
  background-color:#FB3958;
}
#pint{
  background-color:#C8232C;
}
.sm{
  color:white;
  border-radius:64px;
}
.sm:hover{
  opacity:0.7;
}
/* social media buttons in the footer section */

/* "About" button drop down navigation button in header section */
#dropbtn {
background-color:white;
color:black;
border-radius:64px;
cursor: pointer;
display:block;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content{
display:none;
position:absolute;
min-width:110px;
}
.dropdown-content a {
color:black;
text-decoration:none;
display:block;
background-color:white;
border-radius:64px;
}
.dropdown-content a:hover {
background-color:#DC143C;
color:white;
display:block;
border-radius:64px;
}
.dropdown:hover .dropdown-content {
display:block;
}
.dropdown:hover #dropbtn {
background-color:#DC143C;
color:white;
display:block;
}
.b{
float:left;
display:block;
}
/* "About" button drop down navigation button in header section */
